* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #72cef9;
}

.card {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.search-card input {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-card button {
  padding: 10px;
  width: 100%;
  background: #03a9f4;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}



.divider {
  margin: 10px 0;
  color: #888;
}

/* WeatherCard.css */

.weather-card h1 {
  font-size: 48px;
  margin: 0;
}

.weather-card img {
  width: 100px;
  height: 100px;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-details div {
  text-align: center;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
}

.back-button .tooltip-text {
  visibility: hidden;
  width: 70px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  z-index: 1;
}


.back-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #03a9f4; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
